<h4 *ngIf="message">{{message}}</h4>
<form id="taskAddForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="taskName">任务:</label>
    <input type="text" id="taskName" name="Task Name" [(ngModel)]="taskName"/>
  </div>
  <div>
    <label for="executor">人员分配:</label>
    <input type="text" id="executor" name="Executor" [(ngModel)]="executor"/>
  </div>
  <div>
    <label for="type">种类：</label>
    <input type="text" id="type" name="Type"[(ngModel)]="type"/>
  </div>
  <div>
    <button>提交</button>
  </div>
</form>
